# Configurações do LLM
OPENAI_API_KEY=sua-chave-openai

# Configurações do MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Bancos de Dados / Redis (Feature Store)
REDIS_URL=redis://localhost:6379/0